@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  --primary: #ffc05e;
  --secondary: #ffffff;
  --background: #575757;
  --background1: #2a2a2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: var(--background);
  position: relative;
}

.wrapper {
  position: relative;
}
